<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tracks</key>
		<string>http://7xoear.com1.z0.glb.clouddn.com/周杰伦 - 龙卷风.mp3</string>
		<key>lrc</key>
		<string>http://7xl2f9.com1.z0.glb.clouddn.com/周杰伦-龙卷风.lrc</string>
		<key>like</key>
		<false/>
		<key>dislike</key>
		<false/>
	</dict>
	<dict>
		<key>tracks</key>
		<string>http://7xoear.com1.z0.glb.clouddn.com/林俊杰 - 那些你很冒险的梦.mp3</string>
		<key>lrc</key>
		<string>http://7xl2f9.com1.z0.glb.clouddn.com/林俊杰-那些你很冒险的梦.lrc</string>
		<key>like</key>
		<false/>
		<key>dislike</key>
		<false/>
	</dict>
	<dict>
		<key>tracks</key>
		<string>http://7xoear.com1.z0.glb.clouddn.com/陈奕迅 - 你给我听好.mp3</string>
		<key>lrc</key>
		<string>http://7xl2f9.com1.z0.glb.clouddn.com/陈奕迅-你给我听好.lrc</string>
		<key>like</key>
		<false/>
		<key>dislike</key>
		<false/>
	</dict>
	<dict>
		<key>tracks</key>
		<string>http://7xoear.com1.z0.glb.clouddn.com/陈慧琳 - 假天真.mp3</string>
		<key>lrc</key>
		<string>http://7xl2f9.com1.z0.glb.clouddn.com/陈慧琳-假天真.lrc</string>
		<key>like</key>
		<false/>
		<key>dislike</key>
		<false/>
	</dict>
	<dict>
		<key>tracks</key>
		<string>http://7xoear.com1.z0.glb.clouddn.com/方力申 - 好心好报.mp3</string>
		<key>lrc</key>
		<string>http://7xl2f9.com1.z0.glb.clouddn.com/合唱歌曲-好心好报.lrc</string>
		<key>like</key>
		<false/>
		<key>dislike</key>
		<false/>
	</dict>
</array>
</plist>
